# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# FastAPI / Uvicorn
*.log

# Environment variables
.env
.env.local
.env.dev
.env.stage
.env.prod
.env.test
.env.*.local
!.env.example
!.env.dev.example
!.env.stage.example
!.env.prod.example

# OS
.DS_Store

# IDEs
.vscode/
.idea/
